<resources>

    <properties>
        <property id="appVersion" type="string">1.0.0</property>
        <property id="colorSetting" type="array"></property>
    </properties>

    <strings>
        <string id="AppName">MNMLST</string>
        <string id="ColorSettingTitle">Color Setting</string>
        <string id="ColorSettingPrompt">Set Watch Color</string>
        <string id="Dark">Dark</string>
        <string id="Light">Light</string>
    </strings>

    <settings>
        <setting propertyKey="@Properties.PROP_COLOR" title="@Strings.ColorSettingTitle" prompt="@Strings.ColorSettingPrompt">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Dark</listEntry>
                <listEntry value="1">@Strings.Light</listEntry>
            </settingConfig>
        </setting>
    </settings>

</resources> 